/*
Placeholder webpage for not-implemented functional.
Links back to root (index).
*/
package templates

import "github.com/dixxe/personal-website/web/static/styling"

templ WIPPage() {
    @BasicPageBlock()
    
    <div class={ styling.Textcontainer(), styling.CenterPageContainer() }>
        <h1 class={ styling.Header() }>Page is under construction</h1>
        <p class={ styling.PostScriptum() }> Вернуться <a href="/">Домой</a> </p>
    </div>
}